<h1 style='text-align: center'>Rent your jet</h1>

<div class="container">
  <%= simple_form_for @jet do |f| %>
    <%= f.input :name, label: 'Jet model' %>
    <%= f.input :description %>
    <%= f.input :price_day, label: 'Price per day (€)', input_html: { min: '0'} %>
    <%= f.input :pax, label: 'Capacity max', input_html: { min: '1'} %>
    <%= f.input :address %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <div class="button-center-form" style='text-align: center; margin-bottom: 10px;'>
        <%= f.button :submit, class: 'btn btn-primary'%>
      </div>
    </div>
  <% end %>
</div>
