<h1 style='text-align: center'>Rent your jet</h1>

<div class="container">
  <%= simple_form_for @jet do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price_day %>
    <%= f.input :pax %>
    <%= f.input :address %>
    <%= f.input :zipcode %>
    <%= f.input :city %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <div class="button-center-form" style='text-align: center; margin-bottom: 10px;'>
        <%= f.button :submit, class: 'btn btn-primary'%>
      </div>
    </div>
  <% end %>
</div>
