<div class="banner-jet" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @jet.photo %>');">
  <div class="banner-content">
  </div>
</div>

<div class="container container-show">

  <div class="container jet-details">
    <h2><%= "Rent a jet in #{@jet.address}" %></h2>
    <br>
    <h3><%= @jet.name %></h3>
    <ul class="list-inline jet-parameters" >
      <li>
        <i class="fas fa-user" >   <%="#{@jet.pax}pers" %></i>
      </li>
      <li>
        <i class="fas fa-euro-sign" id="jet-price" > <%= "#{@jet.price_day}" %></i>
        </li>
    </ul>
    <br>
    <p><%= @jet.description %></p>
  </div>


  <div class="container booking-details">
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      <h2></h2>

      <%= simple_form_for ([@jet, @booking]) do |f| %>
      <br>
        <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker", value: params[:start_date]} %>
        <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker", value: params[:end_date]  } %>
        <%= f.hidden_field :price_total %>
        <%= f.hidden_field :pax_booking %>
        <p id="pax-booking"><%= "Number of passengers: #{@booking.pax_booking}" %></p>
        <h5 id="price-total" style="font-weight: bold"><%= "Total: #{@booking.price_total} €" %></h5>
        <div class="text-center">
          <%= f.button :submit, "Book", class: "btn btn-primary",  style: "border-radius: 10px;"%>
        </div>
        <br>
      <% end %>
    </div>
  </div>

</div>
