<div class="container">
  <div class="text-center">
    <h1>All your bookings</h1>
  </div>

  <div class="jets_rented">
    <% if @bookings.any? %>
      <h3>Jets rented</h3>
        <div class="cards-container">
          <div class="row">
            <% @bookings.each do |booking|%>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.jet.photo, height: 300, width: 400, crop: :fill %>')">
                  <div class="card-city"><%= booking.jet.city %></div>
                    <div class="card-description">
                      <p><%= booking.jet.name %></p>
                      <ul class= "card-settings list-inline" >
                        <li><%= "#{booking.jet.price_day} €"%></li>
                        <li><%= "#{booking.jet.pax} pers" %></li>
                      </ul>
                    </div>
                    <% if booking.status == 'waiting' %>
                      <p id=status_waiting>Not booked</p>
                    <% else %>
                      <p id=status_booked>Booked</p>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
      <% else %>
        <h3> No jet leased yet</h3>
        <a href="/" class="btn btn-primary" style='margin-top:20px;'> Rent a jet </a>
      <% end %>
  </div>


  <div class="jets-leased" style='margin-top: 40px;'>
    <% if @my_bookings.any? %>
    <h3>Jets leased</h3>
    <div class="cards-container">
      <div class="row">
        <% @my_bookings.each do |booking|%>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.jet.photo, height: 300, width: 400, crop: :fill %>')">
              <div class="card-city"><%= booking.jet.city %></div>
                <div class="card-description">
                  <p><%= booking.jet.name %></p>
                  <ul class= "card-settings list-inline" >
                    <li><%= "#{booking.jet.price_day} €"%></li>
                    <li><%= "#{booking.jet.pax} pers" %></li>
                  </ul>
                </div>
                <% if booking.status == 'waiting' %>
                  <p id=status_waiting>Not leased</p>
                <% else %>
                  <p id=status_booked>Leased</p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% else %>
    <h3> No jet leased yet</h3>
    <a href="/jets/new" class="btn btn-primary" style='margin-top:20px;'>Lease your jet </a>
  <% end %>
  </div>
</div>

