<div class="container">
  <div class="text-center">
    <h1>All your bookings</h1>
  </div>
  <div class="row">
    <div class="jets_rented text-center col-xs-12 col-sm-6" style='margin-bottom: 20px;'>
      <% if @bookings.any? %>
        <h3>Jets rented</h3>
          <div class="cards-container">
            <div class="row">
              <% @bookings.each do |booking|%>
                <div class="col-xs-12 col-sm-6">
                  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.jet.photo, height: 300, width: 400, crop: :fill %>')">
                    <div class="card-city"><%= booking.jet.address %></div>
                      <div class="card-description">
                        <p><%= booking.jet.name %></p>
                        <ul class= "card-settings list-inline" >
                          <li><%= "#{booking.price_total} €"%></li>
                          <!-- <li><%= "#{booking.pax_booking} pers" %></li> -->
                        </ul>
                      </div>
                      <% if booking.status == 'waiting' %>
                        <p id=status_waiting>Not booked</p>
                      <% else %>
                        <p id=status_booked>Booked</p>
                        <%= link_to 'Cancel', booking_path(booking), method: :delete, data: { confirm: 'Are you sure? You will recover 50% of the transaction price.' }, id: 'delete_button'  %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
          </div>
        <% else %>
          <h3> No jet leased yet</h3>
          <a href="/" class="btn btn-primary" style='margin-top:20px;'> Rent a jet </a>
        <% end %>
    </div>

    <div class="jets-leased text-center col-xs-12 col-sm-6" style='margin-bottom: 20px;'>
      <% if @my_bookings.any? %>
      <h3>Jets leased</h3>
      <div class="cards-container">
        <div class="row">
          <% @my_bookings.each do |booking|%>
            <div class="col-xs-12 col-sm-6">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.jet.photo, height: 300, width: 400, crop: :fill %>')">
              <div class="card-city"><%= booking.jet.address%></div>
                <div class="card-description">
                  <p><%= booking.jet.name %></p>
                  <ul class= "card-settings list-inline" >
                    <li><%= "#{booking.price_total} €"%></li>
                  <!-- <li><%= "#{booking.pax_booking} pers" %></li> -->
                  </ul>
                </div>
                  <% if booking.status == 'waiting' %>
                    <p id=status_waiting>Not leased</p>
                  <% else %>
                    <p id=status_booked>Leased</p>
                    <%= link_to 'Cancel', booking_path(booking), method: :delete, data: { confirm: 'Are you sure? You will refund 100% of the transaction price.' }, id: 'delete_button'  %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <h3> No jet leased yet</h3>
      <a href="/jets/new" class="btn btn-primary" style='margin-top:20px;'>Lease your jet </a>
    <% end %>
    </div>
  </div>
</div>
