  <div class="banner_user" style='background-image: url(<%= asset_url("sky.jpg")%>); height: 60vh; background-position: center; background-size: cover;'>
  </div>
<div class="container">
  <div class="banner_haute">
    <div class="user_top">
      <div class="user_photo">
        <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "user_photo_left", style: 'width: 200px; height:200px; border-radius:50%; margin-left:30px;'%>
      </div>
      <div class="user_details text-center" style='padding-right: 100px'>
        <h1><%= @user.first_name%> <%= @user.last_name %></h1>
            <i class="fas fa-phone" style='color: #2667FF;'></i>
            <p><%= @user.phone_number%></p>
            <i class="far fa-envelope-open" style='color: #2667FF;'></i>
            <p><%= @user.email%></p>
          <p></p>
      </div>
    </div>
  </div>

  <div class="jets_rented" style='margin-bottom: 20px; margin-top: 50px;'>
      <% if @jets.any? %>
        <h3>Your jets</h3>
          <div class="cards-container">
            <div class="row">
              <% @jets.each do |jet|%>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path jet.photo, height: 300, width: 400, crop: :fill %>')">
                    <div class="card-city col-xs-8" style='text-align:left; padding-left: 0px;'>
                      <% mycity = jet.address.split(',')%>
                      <%= "#{mycity[1]}, #{mycity[3]}" %>
                    </div>
                      <div class="card-description">
                        <p><%= jet.name %></p>
                        <ul class= "card-settings list-inline" >
                          <li><%= "#{jet.price_day} €"%></li>
                          <li><%= "#{jet.pax} pers" %></li>
                        </ul>
                      </div>
                      <% if jet.bookings.empty? %>
                        <p id=status_waiting> Not booked </p>
                      <% else %>
                        <p id=status_booked> Booked</p>
                      <% end %>
                      <%= link_to 'Edit', edit_jet_path(jet), id: 'edit_button' %>
                      <%= link_to 'Delete', jet_path(jet), method: :delete, data: { confirm: 'Are you sure you want to delete?' }, id: 'delete_button'  %>
                    </div>
                  </div>
                <% end %>
              </div>
          </div>
        <% else %>
          <h3> No jet yet</h3>
          <a href="/jets/new" class="btn btn-primary">Lease your jet </a>
        <% end %>
    </div>

    <div class="jets_rented" style='margin-bottom: 20px; margin-top: 50px;'>
      <% if current_user.reviews.any? %>
        <h3 style='margin-bottom: 15px;'>Your past flights</h3>
        <% current_user.reviews.each do |review| %>
          <div class="card" style="height: 110px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path review.jet.photo, crop: :fill %>')">
            <div class='review_text' style='padding-left: 20px;'>
              <p id='name_review_user'> <strong><%= review.jet.name %></strong></p>
              <p id='title_review_user'><%= review.title %> </p>
              <p id='content_review_user'><%= review.content %> </p>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3 style='margin-bottom: 15px;'>Your past flights</h3>
        <p>No flight yet</p>
        <%= link_to 'Book a flight', root_path %>
      <% end %>
    </div>
</div>

